body {
	background-color: #b3d4fc;
}

#header {
	height: 200px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #354b5e;
}

#words {
	margin: 10px auto;
	display: inline-block;
	color: #eee;
}

#buttons {
	margin-bottom: 15px;
}

#borderButton {
	height: 30px;
	width: 120px;
	border-radius: 6px;
	background-color: #fff;
}

p {
	margin-bottom: 5px;
}
h1 {
	margin-bottom: 0px;
}

button {
	margin: 0px auto;
}

#gridWrapper {
	
	margin: 0 auto;
	width: 600px;
	height: 600px;
}

.row {
	margin: 0px auto;
}

.pixel {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #888;
}

#menu {
	width: 240px;
	height: 100%;
	background-color: #47a3da;
	position: fixed;
	top: 0;
	left:-240px;
}

#menu h3 {
	padding-left: 1em;
}

#menu a {
	display: block;
	text-decoration: none;
	border-bottom: 1px solid #222;
	background-color: #afdefa;
	padding: 1em;
}
#all {
	position: fixed;
}