body {
	background-color: #b3d4fc;
}

#header {
	height: 200px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1166ff;
	border-radius: 20px;
	margin-bottom: 5px;
	text-align: center;
}

#words {
	margin: 20px auto;
	display: inline-block;
}

button {
	margin: 0px auto;
}

#gridWrapper {
	
	margin: 0 auto;
	width: 600px;
	height: 600px;
}

.row {
	margin: 0px auto;
}

.pixel {
	display: inline-block;
	background-color: #fff;
	border: 1px solid #888;
}